In [1]:
import pandas as pd

pd.Series(list)

0    <class 'list'>
dtype: object

In [2]:
first_series = pd.Series(list('abcdefg'))
print(first_series)

0    a
1    b
2    c
3    d
4    e
5    f
6    g
dtype: object

In [3]:
import numpy as np
city_series = pd.Series(np.array(['Luxemburg','Ireland','Singapore','Norway','Qatar',
                                   'United Arab Emirates','Denmark','Sweden']))
print(city_series)

0               Luxemburg
1                 Ireland
2               Singapore
3                  Norway
4                   Qatar
5    United Arab Emirates
6                 Denmark
7                  Sweden
dtype: object

In [4]:
#By default index position will be auto-incremented with start=0 and end=8
#to change index position explicitly
city_series = pd.Series(np.array(['Luxemburg','Ireland','Singapore','Norway','Qatar',
                                   'United Arab Emirates','United States','Denmark','Sweden']),
                                   index=['a','b','c','d','e','f','g','h','i'])
print(city_series)

a               Luxemburg
b                 Ireland
c               Singapore
d                  Norway
e                   Qatar
f    United Arab Emirates
g           United States
h                 Denmark
i                  Sweden
dtype: object

In [8]:
# Collection of city_series
country_per_capita = {'Country': pd.Series(np.array(['Luxemburg','Ireland','Singapore','Norway','Qatar',
                                   'United States','Denmark','Sweden'])),
 'GDP_Per_Capita':pd.Series(np.array([142212,126905,127565,114899,114648,76399,74005,64578]))
}
#Creating DataFrame using Collections of Series
GDP_DF= pd.DataFrame(country_per_capita)

#Display first 5 rows
print(GDP_DF.head())

     Country  GDP_Per_Capita
0  Luxemburg          142212
1    Ireland          126905
2  Singapore          127565
3     Norway          114899
4      Qatar          114648