In [1]:
import pymongo

In [2]:
import pandas as pd

In [3]:
bank_df = pd.read_json("C:/Users/Administrator/Downloads/bank_edited.json")

In [4]:
bank_df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [5]:
data = bank_df.to_dict(orient='records')

In [7]:
def main():
    client = pymongo.MongoClient("localhost:27017")
    database = client['BankDB']
    try:
        database.customers.drop()
    except:
        print("Collection Does not Exist")

    
    collection = database['testcollection1']
    collection.insert_one(product_1)
    collection.insert_many(products)

    allDocuments = collection.find()

    for i in allDocuments:
        print(i)

    #to fetch distinct values from collection of documents
    distinct_product = collection.distinct("name")
    print(distinct_product)

if __name__=="__main__":
    main()

NameError: name 'product_1' is not defined

In [ ]:
client = pymongo.MongoClient("localhost:27017")

In [ ]:
print(client)

In [ ]:
database = client['BankDB']
collection = database['Bank']

In [ ]:
collection.find_one()

#### Give marketing success rate (No. of people subscribed / total no. of entries)